.admin-board{
  border: 1px solid #486d9f;
}

.alphabet-list{
  border: 1px solid #339f5d;
}
.authors-list{
  border: 1px solid #38439c;

}
.upload-form{
  border: 1px solid #98279c;

}
.footer{
  border: 1px solid #b6483a;

}
.movie-canvas{
  border: 1px solid #b68e3d;

}