<h1> {{ title }} </h1>

<!-- Alphabet List -->
<app-alphabet-list></app-alphabet-list>

<!-- Author List -->
<app-authors-list></app-authors-list>

<input type="text" placeholder="Buchstabe" [(ngModel)]="form.anichar"/>
<input type="text" placeholder="Author" [(ngModel)]="form.author"/>
<input type="text" placeholder="Version" [(ngModel)]="form.version"/>
<button (click)="insert()">Add</button>
<br/>
<table class="table table-striped">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let anichar of anichars">
        <td>{{ anichar.anichar }}</td>
    </tr>
    </tbody>
</table>
