<div id="anibc">
    <h1> {{ title }} </h1>

      <app-alert></app-alert>

    <header>
        <nav id="nav-main">

            <!-- Navigation -->
            <app-navigation></app-navigation>

        </nav>
        <nav id="nav-chars">

            <!-- Alphabet List -->
            <app-alphabet-list></app-alphabet-list>

        </nav>
    </header>

    <main>
        <nav id="nav-authors">

            <!-- Author List -->
            <app-authors-list></app-authors-list>

        </nav>

        <div id="content">

             <router-outlet></router-outlet>

        </div>
    </main>

    <footer>

        <!-- Footer-->
        <app-footer></app-footer>


    </footer>

    <nav>
        <ul>
            <li>
                <a routerLink="/" routerLinkActive="active" >Home</a>
            </li>
            <li>
                <a routerLink="/login" routerLinkActive="active" >Login</a>
            </li>
            <li>
                <a routerLink="/admin" routerLinkActive="active" >Admin</a>
            </li>
        </ul>
    </nav>


</div>