#anibc {
}

header {
  display: flex;
}

main {
  display: flex;
}

footer {
  display: flex;
  padding: 20px;
  justify-content: center;
}

nav#nav-main {

}

nav#nav-chars {

}

nav#nav-authors {

}

div#content {
  display: flex;
  padding: 0px;
  justify-content: center;
}