<div id="anibc">
    <h1> {{ title }} </h1>


    <header>
        <nav id="nav-main">

            <!-- Navigation -->
            <app-navigation></app-navigation>

        </nav>
        <nav id="nav-chars">

            <!-- Alphabet List -->
            <app-alphabet-list></app-alphabet-list>

        </nav>
    </header>

    <main>
        <nav id="nav-authors">

            <!-- Author List -->
            <app-authors-list></app-authors-list>

        </nav>

        <div id="content">

            <!-- Admin Board-->
            <app-admin-board></app-admin-board>

            <!-- Movie Canvas-->
            <app-movie-canvas></app-movie-canvas>

        </div>
    </main>

    <footer>

        <!-- Footer-->
        <app-footer></app-footer>


    </footer>


</div>